<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/04/27 13:30:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@5f341870]">loginPageTest</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/04/27 13:30:57</td>   <td>22487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@5f341870]">loginPageTest</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/04/27 13:30:20</td>   <td>-14220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@5f341870]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/04/27 13:30:44</td>   <td>9395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@5f341870]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/04/27 13:30:40</td>   <td>5403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@5f341870]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/04/27 13:31:01</td>   <td>26620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@5f341870]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
</table>
