<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Vibgyor paint Automation Script</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>18/04/27 14:36:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:36:27</td>   <td>14505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.HomePageTitleTest()[pri:1, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">HomePageTitleTest</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:36:27</td>   <td>14569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/04/27 14:36:30</td>   <td>17519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@271053e1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/04/27 14:36:43</td>   <td>30691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@271053e1]">loginPageTest</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/04/27 14:36:47</td>   <td>34765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@271053e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/04/27 14:36:51</td>   <td>38872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@271053e1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/04/27 14:37:05</td>   <td>53128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest(java.lang.String, java.lang.String)[pri:1, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@271053e1]">loginPageTest</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/04/27 14:37:10</td>   <td>57372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.LoginPageTest@271053e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:14</td>   <td>61430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:26</td>   <td>74003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.vibgyorpaintlabelTest()[pri:2, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">vibgyorpaintlabelTest</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:26</td>   <td>74104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:27</td>   <td>75108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:40</td>   <td>88322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.loginlabelTest()[pri:3, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">loginlabelTest</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:41</td>   <td>88390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:42</td>   <td>89422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:54</td>   <td>102193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.signuplabelTest()[pri:4, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">signuplabelTest</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/04/27 14:37:54</td>   <td>102267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.mindtree.vibgyorpaints.testcases.HomePageTest@4f7d0008]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
</table>
